html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
header {
  width: 15rem;
  height: 3.6rem;
  background: -webkit-linear-gradient(#fe8691, #fe8a95);
  overflow: hidden;
}
header .headeritem {
  position: fixed;
  display: flex;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 13.64rem;
  height: 1.76rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
header .headeritem span {
  display: inline-block;
  width: 0.72rem;
  height: 1.2rem;
}
header .headeritem span img {
  width: 0.72rem;
  height: 1.2rem;
}
header .headeritem .img {
  width: 11.4rem;
  height: 1.76rem;
  text-align: center;
}
header .headeritem .img img {
  width: 7.8rem;
  height: 1.52rem;
}
header .search {
  position: relative;
  width: 14.04rem;
  height: 1.76rem;
  margin: 0 auto;
  margin-top: 1.76rem;
  box-sizing: border-box;
}
header .search a {
  position: absolute;
  top: 0.38rem;
  left: 0;
  display: block;
  border-radius: 60px;
  overflow: hidden;
}
header .search a .searchitem {
  position: relative;
  width: 14.04rem;
  height: 1.28rem;
  border: 0;
  box-sizing: border-box;
  background-color: #fff;
}
header .search a .searchitem i {
  position: absolute;
  top: 0.3rem;
  left: 0.44rem;
  width: 0.72rem;
  height: 0.72rem;
  background: url(../img/searchico.png) no-repeat;
  background-size: 0.72rem;
}
header .search a .searchitem .search_text {
  color: #ccc;
  box-sizing: border-box;
  margin-left: 1.44rem;
  font-size: 0.6rem;
  line-height: 1.28rem;
}
.banner {
  width: 15rem;
  height: 4.58rem;
  background: linear-gradient(#fe8a95, #fcc5ca);
}
.banner .swiper {
  width: 14.04rem;
  height: 4.58rem;
  margin: 0 auto;
  border-radius: 25px;
  overflow: hidden;
}
.banner .swiper img {
  width: 14.04rem;
  height: 4.58rem;
}
.main-box {
  display: flex;
  width: 15rem;
  height: 5.615rem;
}
.main-box span {
  width: 5rem;
  height: 5.615rem;
}
.main-box span img {
  width: 5rem;
  height: 5.615rem;
}
.enterwrapper {
  width: 15rem;
  height: 6.16rem;
  background: linear-gradient(#f9f9f9, #fff);
}
.enterwrapper ul {
  margin: 0;
  width: 15rem;
  height: 6.16rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.enterwrapper ul li {
  width: 3rem;
  height: 2.84rem;
}
.enterwrapper ul li a {
  display: flex;
  width: 3rem;
  height: 2.84rem;
  flex-direction: column;
  font-size: 0.48rem;
  justify-content: center;
  align-items: center;
}
.enterwrapper ul li a img {
  width: 1.68rem;
  height: 1.68rem;
}
.enterwrapper ul li a span {
  width: 3rem;
  height: 0.56rem;
  text-align: center;
  color: #6f6f6f;
}
.imgfloor {
  display: flex;
  margin-top: 20px;
  width: 15rem;
  height: 4.68rem;
}
.imgfloor span {
  flex: 1;
}
.imgfloor span:first-child {
  flex: 2;
}
.imgfloor span img {
  width: 3.725rem;
  height: 4.68rem;
}
.imgfloor span:first-child img {
  width: 7.47rem;
  height: 4.68rem;
}
